* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Tajawal", sans-serif;
}

.v-application {
    font-family: "Tajawal", sans-serif !important;
}

.category-title {
    background: white;
    position: sticky;
    top: 55px;
    z-index: 1;
    padding: 0.5rem;
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    border-bottom: solid 1px #e0e0e0;
}